In [5]:
#classification problem in ML
#load dataset with google collab

from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [6]:
#use pandas to load data now

import pandas as pd

df = pd.read_csv("classification_dataset.csv")
df.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,Target
0,2.365398,-2.405070,1.454530,0.635454,0.331485,0.255484,0.141766,-1.884458,-1.619777,0.423212,0
1,1.466359,1.431838,2.492688,1.662741,0.845526,2.768129,1.151220,-1.278432,-0.076903,-0.721963,0
2,0.818121,-0.408409,-1.230546,1.709158,1.591019,1.030478,-0.205769,0.312407,2.566689,0.889988,0
3,0.173130,-2.019461,-0.303312,0.222706,0.531745,-0.340094,0.186762,-3.133564,2.682247,2.633538,0
4,-1.075339,1.231863,-1.169158,-1.186858,-0.715022,3.330301,-1.028577,1.840620,1.002101,-1.151868,1

In [7]:


df = pd.read_csv("classification_dataset.csv")
X = df.drop("Target", axis=1)
y = df["Target"]

df.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,Target
0,2.365398,-2.405070,1.454530,0.635454,0.331485,0.255484,0.141766,-1.884458,-1.619777,0.423212,0
1,1.466359,1.431838,2.492688,1.662741,0.845526,2.768129,1.151220,-1.278432,-0.076903,-0.721963,0
2,0.818121,-0.408409,-1.230546,1.709158,1.591019,1.030478,-0.205769,0.312407,2.566689,0.889988,0
3,0.173130,-2.019461,-0.303312,0.222706,0.531745,-0.340094,0.186762,-3.133564,2.682247,2.633538,0
4,-1.075339,1.231863,-1.169158,-1.186858,-0.715022,3.330301,-1.028577,1.840620,1.002101,-1.151868,1

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report

from sklearn.model_selection import train_test_split

# Define X and y
X = df.drop("Target", axis=1)
y = df["Target"]

# Train your model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

model = RandomForestClassifier()

model.fit(X_train, y_train)

predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print(model.predict_proba(X_test)[:,1])

              precision    recall  f1-score   support

           0       0.85      0.98      0.91        84
           1       0.96      0.79      0.87        66

    accuracy                           0.89       150
   macro avg       0.91      0.88      0.89       150
weighted avg       0.90      0.89      0.89       150

[0.99 0.93 0.81 0.96 0.06 0.01 0.17 0.33 0.06 0.11 0.08 0.14 0.1  0.85
 0.08 0.38 0.99 0.01 0.12 0.98 0.9  0.05 0.   0.9  0.19 0.21 0.97 0.26
 0.42 0.32 0.79 0.94 0.1  0.91 0.16 0.52 0.11 1.   0.04 0.05 0.95 0.42
 0.07 0.56 0.04 0.25 0.78 0.82 0.06 0.94 0.13 0.82 0.12 0.94 0.02 0.38
 0.45 1.   0.96 0.16 0.79 0.94 0.99 0.38 0.88 0.86 0.18 0.24 0.92 0.02
 0.23 0.45 0.41 0.35 0.93 0.   0.76 0.09 0.75 0.09 0.43 0.21 0.36 0.31
 0.04 1.   0.02 0.04 0.99 0.54 0.79 0.2  0.74 0.87 0.4  0.94 0.43 0.95
 0.04 0.05 0.49 0.92 0.08 0.05 0.18 0.21 0.1  0.   0.1  0.15 0.29 0.35
 0.2  0.   0.72 0.07 0.41 0.15 0.75 0.1  0.07 0.18 0.32 0.27 0.87 0.19
 0.93 0.62 0.02 0.1  0.24 0.09 0.73 0.11 0.94 0.14 0.95 0.99 0.48 0.18
 0.58 0.17 0.44 0.12 0.96 0.13 0.29 0.94 0.35 0.14]

In [10]:
# Sample data for prediction (replace with your actual sample data)
# This should have the same number of features as your training data (X)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report

from sklearn.model_selection import train_test_split

# Define X and y
X = df.drop("Target", axis=1)
y = df["Target"]

# Train your model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

model = RandomForestClassifier()

model.fit(X_train, y_train)

predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print(model.predict_proba(X_test)[:,1])
import pandas as pd
sample_data = [[1.0, 0.5, -0.2, 1.5, 0.1, -0.3, 0.8, -1.0, 0.2, 0.9]] # Example data

# Convert sample data to a pandas DataFrame (important for consistency with training data)
sample_df = pd.DataFrame(sample_data, columns=X_test.columns)

# Make predictions on the sample data
sample_predictions = model.predict(sample_df)

# Print the predictions
print("Predictions for sample data:", sample_predictions)

              precision    recall  f1-score   support

           0       0.87      0.93      0.90        76
           1       0.93      0.85      0.89        74

    accuracy                           0.89       150
   macro avg       0.90      0.89      0.89       150
weighted avg       0.90      0.89      0.89       150

[0.14 0.03 0.06 0.06 0.82 0.   0.75 0.15 0.06 0.98 0.97 0.42 0.65 0.97
 0.04 0.06 0.41 0.11 0.95 0.25 0.73 0.04 0.97 0.34 0.27 0.97 0.25 0.5
 0.99 0.26 0.15 0.02 0.4  0.65 1.   0.87 0.04 0.87 0.9  0.75 0.92 0.98
 0.02 0.43 0.99 0.   0.09 0.2  0.81 0.93 0.95 0.02 1.   0.95 0.98 0.03
 0.98 0.93 0.26 0.07 0.98 0.38 1.   0.03 0.9  0.03 0.52 0.42 0.09 0.02
 0.45 0.87 0.92 0.87 0.16 0.01 0.83 0.18 0.31 0.1  0.31 0.35 1.   0.07
 0.7  0.03 0.98 0.89 0.9  0.79 0.95 0.01 0.9  0.97 0.06 0.04 0.04 0.24
 0.02 0.92 0.34 0.03 0.86 0.08 0.29 0.73 0.9  0.9  0.04 0.91 0.73 0.78
 0.04 0.95 0.65 0.27 0.06 0.74 0.39 0.8  0.07 0.67 0.17 0.   0.02 1.
 0.1  0.45 0.72 0.87 0.09 0.09 0.97 0.   0.2  0.11 0.88 0.07 0.14 1.
 0.96 0.12 0.03 0.2  0.06 0.99 0.84 0.98 0.08 0.5 ]
Predictions for sample data: [1]

# Task
Explain how to use sample data to predict after training a model, including preparing the data, making predictions, and interpreting the results.

## Prepare sample data

### Subtask:
Create a pandas DataFrame with the new data you want to predict on. Ensure it has the same columns as your training data (X).

**Reasoning**:
Create a pandas DataFrame from the sample data with the same columns as the training data.

In [11]:
# Sample data for prediction (replace with your actual sample data)
# This should have the same number of features as your training data (X)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report

from sklearn.model_selection import train_test_split

# Define X and y
X = df.drop("Target", axis=1)
y = df["Target"]

# Train your model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

model = RandomForestClassifier()

model.fit(X_train, y_train)

predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print(model.predict_proba(X_test)[:,1])
import pandas as pd
sample_data = [[1.0, 0.5, -0.2, 1.5, 0.1, -0.3, 0.8, -1.0, 0.2, 0.9]] # Example data

# Convert sample data to a pandas DataFrame (important for consistency with training data)
sample_df = pd.DataFrame(sample_data, columns=X_test.columns)

# Make predictions on the sample data
sample_predictions = model.predict(sample_df)

# Print the predictions
print("Predictions for sample data:", sample_predictions)
sample_data = [[1.0, 0.5, -0.2, 1.5, 0.1, -0.3, 0.8, -1.0, 0.2, 0.9]] # Example data

# Convert sample data to a pandas DataFrame (important for consistency with training data)
sample_df = pd.DataFrame(sample_data, columns=X.columns)

# Display the sample DataFrame to verify
display(sample_df)

              precision    recall  f1-score   support

           0       0.86      0.97      0.91        70
           1       0.97      0.86      0.91        80

    accuracy                           0.91       150
   macro avg       0.92      0.92      0.91       150
weighted avg       0.92      0.91      0.91       150

[0.91 0.12 0.03 0.96 0.65 0.09 0.06 0.92 0.98 0.68 0.05 0.03 0.96 0.03
 0.26 0.03 0.97 0.16 0.1  0.02 0.96 0.09 0.59 0.91 0.12 0.04 0.48 0.28
 0.33 0.15 0.33 0.08 0.12 0.02 0.79 0.76 0.18 0.86 0.27 0.75 0.76 0.21
 0.02 0.02 0.55 0.7  0.01 0.01 0.9  0.94 0.26 0.1  0.9  0.9  0.85 0.91
 0.1  0.87 0.14 0.02 0.85 0.88 1.   0.7  0.12 0.07 0.38 0.9  0.83 0.37
 0.93 0.06 0.08 0.23 0.69 0.03 1.   0.49 1.   0.04 0.75 0.69 0.95 0.38
 1.   0.   0.87 0.93 0.26 0.34 0.85 0.84 0.11 0.92 0.82 0.8  0.2  0.35
 0.28 0.9  0.86 0.89 0.27 0.01 0.72 0.02 0.44 0.5  0.   0.15 0.59 0.03
 0.78 0.07 0.99 0.29 0.98 0.07 0.92 0.94 0.82 0.12 0.99 0.12 0.11 0.99
 0.06 0.05 0.96 0.14 0.04 0.95 0.24 0.43 0.12 0.93 0.16 0.95 0.11 0.03
 0.98 0.95 0.26 0.64 0.37 0.98 0.54 0.81 0.82 0.81]
Predictions for sample data: [1]

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10
0,1.0,0.5,-0.2,1.5,0.1,-0.3,0.8,-1.0,0.2,0.9

## Make predictions

### Subtask:
Use the trained model to make predictions on the sample data.

**Reasoning**:
Use the trained model to make predictions on the sample data and print the predictions.

In [16]:
# Make predictions on the sample data
sample_predictions = model.predict(sample_df)

# Print the predictions
print("Predictions for sample data:", sample_predictions)

Predictions for sample data: [1]

## Interpret results

### Subtask:
Understand the output of the predictions.

**Reasoning**:
Examine the output of `sample_predictions` and interpret its meaning in the context of the classification problem.

In [17]:
print("The sample data point is predicted to belong to class:", sample_predictions[0])

The sample data point is predicted to belong to class: 1

## Summary:

### Data Analysis Key Findings

*   The sample data was successfully prepared as a pandas DataFrame with the same column structure as the training data.
*   The trained model predicted the class label `[1]` for the sample data point.
*   A predicted value of `1` for the sample data indicates that the model predicts the customer represented by this data point is likely to churn, assuming a binary classification where 1 represents churn.

### Insights or Next Steps

*   To gain more confidence in the prediction, investigate the features of the sample data point that contributed most to the prediction of class 1.
*   For a real-world application, consider implementing a process to handle multiple new data points for prediction and evaluate model performance on new, unseen data over time.

In [1]:
pip install suprise

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement suprise (from versions: none)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for suprise